.contact-container1{
  margin-top: 150px;
  background-color: rgb(112, 111, 110);
  height: 400px;
  width: 100%;
  display: grid;
  grid-template-columns: 400px 400px;
  column-gap: 700px;
  justify-content: center;
  
  }
  
  .contact-content{
    margin-top: 50px;
    height: 300px;
  }